## Object Oriented Programming: OOP's

- **Organize the code into Objects - is a instance of CLASS that combine data/attribute and behaviour/methods.**
- Object have its Own **Data/ATRIBUTES and Behaviours/METHODS** aspects.
- Python is a Object oriented programming Language.

#### example: Person (object)
- age, height, weight are properties / **attributes**
- walk, talk etc are behaviours / **methods**

#### Advantages:
- Code **reusablitiy** (We can reuse the code anytimes).
- More **security** (Encapsulation - we can limit its usablity to user).
- Code **Modularity** (we can divide code into small managable classes).
- Easy to maintain

#### Class: 
- a Class is a blue print or Template to create an object in python.
- It defines **Attributes (variable) and Methods(Functions)**, that describes the **state and Behaviour** of object.

- **Class** - Blue print or Template to create object.
- **Object** - Instance of Class (occured from class).
- **Attribute** - Data or features of Object.
- **Method** - Action of an Object.

#### Creating Class:
- To create a class, we use the keyword **class**.

In [7]:
class userclass:
    a = 45
    b = 26

In [8]:
class userclass2:
    data = 56

In [9]:
class hyderabad:
    population = 30000000

#### Creating Object:
- we use class name to create an object.

In [12]:
obj = userclass()    #object is created so object value is a
print(obj.a)         #obj.a = accessing data of an object

45

In [10]:
x = userclass2()     #accessing the second class data
print(x.data)

56

In [11]:
city = hyderabad()
city.population

30000000

### **__init__() Method:**

1. To understand the meaning of classes we have to understand the built-in __init__() Method
2. All classes have a method called __init__(), which is always exectued when the class is     being initiated.
3. use the __init__() to assign the values to object properties or other operations that       are neccessary to do when the object is being created.

In [12]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

- here **self** - is a Parameter that refers current Instance.
- we can use any name instead of self, but all the python users use self to understand code.
- it is used to access **variable** that belong to the class.

In [16]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

In [17]:
# creating an object:

p1 = person('Rupesh',26)

In [18]:
p1.age

26

In [19]:
p1.name

'Rupesh'

In [13]:
class person:
    def __init__(self,name,age,location):
        self.name = name
        self.age = age
        self.location = location

In [14]:
P1 = person("Rupesh",26,"Hyderbad")

In [15]:
P1.name

'Rupesh'

In [16]:
P1.age

26

In [17]:
P1.location

'Hyderbad'

#### Object Methods():

- if we write, Method inside a class is called as "object method"

In [18]:
class person:
    def __init__(self,name,age,location):
        self.name = name
        self.age = age
        self.location = location

    def details(self):
        print(self.name)
        print(self.age)
        print(self.location)

In [21]:
P2 = person("Kiran",25,"hyderabad")

In [24]:
P1 = person("Rupesh",26,"vijayawada")

In [25]:
P2.details()

Kiran
25
hyderabad

In [26]:
P1.details()

Rupesh
26
vijayawada

#### Modifying Object Properties:

In [28]:
P2.age

25

In [31]:
P2.age = 35   #direct changing without changing from begining

In [32]:
P2.age

35

In [33]:
P2.location

'hyderabad'

In [34]:
P2.location = "Banglore"

In [35]:
P2.location

'Banglore'

#### Object Properties & Class Properties:
- Properties defined inside **__init__()** belongs to each object (Instance Properties / object properties)
- Properties defined outside methods belongs to the class itself (Class Properties) and those are shared by all the objects.

In [45]:
class person:
    country = "India"         #country written outside, so it is class property.

    def __init__(self,name,age):   #name, age, written inside object, so it is object property.
        self.name = name
        self.age = age

In [46]:
p1= person("Rupesh",26)  # p1 will be shared by all class properties aswell.

In [47]:
p1.country

'India'

In [51]:
p1.name

'Rupesh'

#### Deleting Object Properties:

In [52]:
p1.age

26

In [53]:
del p1.age

In [54]:
p1.age

AttributeError: 'person' object has no attribute 'age'

### Inheritance:
- inheriting allows us to define a class, that **inherits all the properties and methods from other class.**
- **New class** is called **Child class** / derived class.
- **Old class** is called as **Parent class** / Base class.

#### creating a parent class:
- Any class can be a Parent class.

In [57]:
class person:
    
    def __init__(self,name,age,location):
        self.name = name
        self.age = age
        self.location = location

    def details(self):
        print(self.name)
        print(self.age)
        print(self.location)

#### creating a child class:

In [58]:
class student(person):
    pass

In [59]:
P2 = student("Rupesh",26,"Hyderabad")

In [60]:
P2.name

'Rupesh'

In [61]:
P2.location

'Hyderabad'

In [63]:
# Create a parent class named Employee details with the properties name, age, designation, department, JobID. Include a method to print all details.
# Create child class names as emp1,emp2,emp3.

In [77]:
class employee:
    def __init__(self,name,age,designation,department,jobID):
        self.name = name
        self.age = age
        self.designation = designation
        self.department = department
        self.jobID = jobID

    def details(self):
        print("Employee name is:", self.name)
        print("Employee age is:", self.age)
        print("Employee designation is:", self.designation)
        print("Employee jobID is:", self.jobID)

In [78]:
class emp1(employee):
    pass

class emp2(employee):
    pass

class emp3(employee):
    pass

In [79]:
emp1 = employee("Rupesh",26,"Student","CS",1234)

In [80]:
emp1.details()

Employee name is: Rupesh
Employee age is: 26
Employee designation is: Student
Employee jobID is: 1234

#### Adding init() function to the Child class:

In [84]:
class emp1(employee):
    def __init(self,name,age,designation,department,jobID,JD):
        self.JD = JD

- when we add init() function for the child class, the parent class init() will not be longer valid.
- if we want to have the parent class to along with child class init(), we need to use **super().** function.

In [86]:
class emp1(employee):
    def __init(self,name,age,designation,department,jobID,JD):
        super().__init__(self,name,age,designation,department,jobID)

#### super() function:
- it will inherit the properties of parent class to the child class where the child class contains __init()__ function

In [12]:
class Employee:              #parent class
    def __init__(self,name,age,designation,department,JobId):
        self.name = name
        self.age = age 
        self.designation = designation
        self.department = department
        self.JobId = JobId
        
    def print_details(self):
        print('Employee name is: ',self.name)
        print('Employee age is: ',self.age)
        print('Employee Designation is: ',self.designation)
        print('Employee Department is: ',self.department)
        print('Employee Job Id is: ',self.JobId)

In [13]:
class Emp1(Employee):            #child class
    def __init__(self,name,age,designation,department,JobId,JD,salary):
        super().__init__(name,age,designation,department,JobId)
        self.JD = JD
        self.salary = salary

In [14]:
E1 = Emp1("Rupesh",26,"student","Computerscience",1234,"01-09-2025",30000)

In [15]:
E1.name

'Rupesh'

In [16]:
E1.JD

'01-09-2025'

In [17]:
E1.salary

30000

#### Add methods to child class:

In [21]:
class Emp2(Employee):
    def __init__(self,name,age,designation,department,JobId,JD):
        super().__init__(name,age,designation,department,JobId,JD)
        self.JD = JD

    def details(self):
        print("Employee designation is:", self.designation)
        print("Employee name is:", self.name)

In [ ]:
E2 = Emp2("Rupesh",26,"Student","Computerscienece",2345,25)

#### Method Overriding

In [30]:
class car:    #parent class
    def __init__(self,Model,Brand,Colour):
        self.Model = Model
        self.Brand = Brand
        self.Colour = Colour

    def print_car_details(self):
        print("The car Model is:", self.Model)
        print("The car Brand is:", self.Brand)
        print("The car Colour is:", self.Colour)

In [40]:
class car1(car):    #child class
    def __init__(self,Model,Brand,Colour,YOM,Speed):
        super().__init__(Model,Brand,Colour)
        self.YOM = YOM
        self.Speed = Speed

    def print_car_details1(self):
        print("The Car YOM is:", self.YOM)
        print("The Car Speed is:", self.Speed)

In [41]:
c1 = car1('220d',"BMW","Black",2025,"300km/hr")

In [43]:
c1.print_car_details1()

The Car YOM is: 2025
The Car Speed is: 300km/hr

#### Multiple Inheritance:
- Multiple Inheritance means, **a Class can inherit from more than one Parent class**.
- a **child class can access properties and methods from multiple parent classes**
- Child class can use **attribute and methods** of all parent classes.

syntax:

     Class Parent1:
        #parent class1 definition
        pass
     Class Parent2:
        #parent class2 definiton

     Class Child(parent1, parent2):
        # child class inherit from both parent1 and parent2

In [44]:
class Father:
    def Gardening(self):
        print("Father Loves Gardening")
class Mother:
    def Coding(self):
        print("Mother loves Coding")

In [48]:
class Child(Father, Mother):
    def Sports(self):
        print("Child loves Sports")

In [49]:
#creating an object for child class:

C1 = Child()

In [52]:
C1.Sports()

Child loves Sports

In [53]:
C1.Gardening()    #inherited from father class

Father Loves Gardening

In [55]:
C1.Coding()     #inherited from Mother class

Mother loves Coding

# Create 2 base classes(parent) named Sales and Marketing
# Sale class : F.Y, No.of sales, Revenue in Cr, Profit.
# Marketing class : F.Y, Market spend, Customer_reach.

Base class1 - Method 1 - Print Profit
Base class1 - Method 2 - Print Details

Base class2 - Method 1 - Print Market Spend
Base class2- Method 2 - Print Details 

Create a derived class named Quater 3 info , Inherit all methods and properties from both base classes.

In [2]:
class sales:
    def __init__(self, FY, No_of_sales, RevenueCR, Profit):
        self.FY = FY
        self.No_of_sales = No_of_sales
        self.RevenueCR = RevenueCR
        self.Profit = Profit

    def print_details1(self):
        print("The FY is:", self.FY)
        print("The No of sales:", self.No_of_sales)
        print("The Revenue in CR is:", self.RevenueCR)
        print("The Profit is:", self.Profit)

class marketing:
    def __init__(self, FY, Market_spend, Customer_reach):
        self.FY = FY
        self.Market_sepnd = Market_spend
        self.Customer_reach = Customer_reach

    def print_details2(self):
        print("The FY is:", self.FY)
        print("The Market spend is :", self.Market_spend)
        print("Customer reach is:", self.Customer_reach)

In [3]:
class quater3_info(sales):
    def __init__(self,FY, No_of_sales, RevenueCR, Profit):
        super().__init__(self, FY, Market_spend, Customer_reach)

#### Multi- Level Inheritance:

In [24]:
class grandfather:
    def __init__(self, grand_bloodgroup, familyname):
        self.grand_bloodgroup = grand_bloodgroup
        self.familyname = familyname

In [25]:
class father(grandfather):
    def __init__(self, grand_bloodgroup, familyname, father_height):
        self.father_height = father_height
        super().__init__(grand_bloodgroup, familyname)

In [26]:
class son(father):
    def __init__(self, grand_bloodgroup, familyname, father_height, son_weight):
        self.son_weight = son_weight
        super().__init__(grand_bloodgroup, familyname, father_height)

In [27]:
person= son("B+", "Roy", 167, 89)

In [28]:
person.grand_bloodgroup

'B+'

### Polymorphism:

In [30]:
a = "Programming"

In [37]:
len(a)               #length of a string

11

In [38]:
L = [45,26,44,55]

In [39]:
len(L)                 #length of list

4

In [40]:
T = (23,45,23,55)

In [36]:
len(T)               #lenght of Tuple

4

In [41]:
D = {"a":1, "b":2, "c":3}

In [43]:
len(D)            #lenght of a dictionary

3

- here **len() is used for different data types, to show same result, this is the one example of polymorphism**

##### **Definition**:
- The word polymorphism means **Many forms** and in programming it refers to, **Methods or Functions or Operators** with same name, that can be executed on many objects and classes

#### Function Polymorphism:

- **len()** : returns number of character of a string.
- **len()** : returns number of items in a List.
- **len()** : returns number of items in a Tuple.
- **len()** : returns number of Key : Value pairs in a dictionary.

#### class Polymorphism:

-Class polymorphism : We can have the **same Method name in Multiple classes**.

In [45]:
class car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def move(self):                            #same method - move
        print("Car drives!!")

class boat:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def move(self):                            #same method - move
        print("boat sails!!")

class plane:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def move(self):                            #same method - move
        print("Plane flies!!")

In [46]:
c1 = car("skoda", "ss0di")
b1 = boat("vikranth", 776)
p1 = plane("Boeing", 747)

In [47]:
c1.move()

Car drives!!

In [48]:
b1.move()

boat sails!!

In [49]:
p1.move()

Plane flies!!

In [53]:
for x in {c1,b1,p1}:   #here we can use (), {}, [] 
    x.move()

boat sails!!
Plane flies!!
Car drives!!

#### inheritance class Ploymorphism:

In [60]:
class vehicle:                  # this is class
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def move(self):              #this is method of class
        print("Trippin'n high")

class car(vehicle):         #this is class 2
    def move(self):
        print("Duniya salame anali")

class boat(vehicle):       #this is class 3
    def move(self):
        print("Trippi'n low")

class plane(vehicle):
    def move(self):
        print("Tripp'n medium")

In [61]:
c2 = car("skoda", "ss0di")
b2 = boat("vikranth", 776)
p2 = plane("Boeing", 747)

In [62]:
for x in {c2,b2,p2}:   #here we can use (), {}, [] 
    x.move()

Tripp'n medium
Trippi'n low
Duniya salame anali

### Encapsulation:
- It is a process of **Binding(wrapping) the data(variable) and methods(functions)** that operates on that data into single unit - usually class.
- It helps us **Restrict Direct Access** to some of an objects data, which helps in **data protection and security.**

#### Access Modifiers:
1. **Public** -- Accessible to everyone.
2. **Protected** -- Accessible within the class and its subclass(_variable).
3. **Private** -- Accessible only withine the class(__variable).

In [4]:
class encapsulation:
    def __init__(self):   # here we no need to write (self, xxx, yyy)
        self.public_variable = "I am a Public variable"
        self._protected_variable = "I am a Protected variable"    # _ before the vairable
        self.__private_variable = "I am Private variable"         # __ before the variable.

    def display(self):
        print(self.public_variable)
        print(self._protected_variable)
        print(self.__private_variable)

In [13]:
class myclass:
    def __init__(self,name,age,networth):
        self.name = name             #public property
        self._age = age              #protected property
        self.__networth = networth   #private property 

    def display(self):
        print("My name is:", self.name)
        print("My age is :", self._age)
        print("My networth is:", self.__networth)

In [14]:
data = myclass("Rupesh",26, 1000000)

In [15]:
data.name

'Rupesh'

In [16]:
data._age

26

In [17]:
data.__networth    # it shows error, as networth is private.

AttributeError: 'myclass' object has no attribute '__networth'

In [18]:
# we can only access the private object with the method():

In [21]:
data.display()

My name is: Rupesh
My age is : 26
My networth is: 1000000

#### Accessing Private variable using getter and setter:

In [34]:
class bankaccount:
    def __init__(self,balance):
        self.__balance = balance   #private proterty

    # Getter Method:
    def get_balance(self):
        return self.__balance      # in retrun, Private property can not hide.

    # Setter Method:
    def set_balance(self, amount):
        if amount > 0:
            self.__balance = amount
        else:
            print("Invalid amount")

In [26]:
acc = bankaccount(10000000)

In [28]:
acc.balance    # we can not directly access, as it is private

AttributeError: 'bankaccount' object has no attribute 'balance'

In [29]:
acc.get_balance()

10000000

In [31]:
acc.set_balance(200000)

In [33]:
acc.get_balance()

200000

In [35]:
acc.set_balance(-50090)

Invalid amount

In [39]:
class bankaccount:
    def __init__(self, account_holder, balance):
        self.account_holder = account_holder   #public property
        self.__balance = balance    #private property

    # public method to display balance (getter):\
    def get_balance(self):
        return self.__balance

    #public method to deposit the money (setter):
    def deposit(self,amount):
        if amount > 0:
            self.__balance += amount
            print(f"The deposited amount is: {amount}, and new balance is: {self.__balance}")
        else:
            print("Deposit amount should be positive")

        # Public method to with draw money:
    def withdraw(self,amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount
            print(f"withdraw: {amount}, Balance left is: {self.__balance}")
        else:
            print("Insufficient funds")

In [40]:
# Creating amount object:
acc1 = bankaccount("Rupesh",1000000)

In [41]:
#Accessing public variable:
acc1.account_holder

'Rupesh'

In [42]:
#trying to access private property:
acc1.__balance

AttributeError: 'bankaccount' object has no attribute '__balance'

In [47]:
# accessing private property using getter method:
acc1.get_balance()

990000

In [48]:
#deposit and withdraw operation:
acc1.deposit(20000)

The deposited amount is: 20000, and new balance is: 1010000

In [49]:
acc1.withdraw(30000)

withdraw: 30000, Balance left is: 980000

In [50]:
acc1.withdraw(10000000)

Insufficient funds

1. Encapsulation **prevents** Accidental Modification of Data.
2. It provides controlled acess through **getter** and **setter method**
3. Improve code Maintainability and **security.**

### Abstraction:
- Abstraction

In [65]:
class encapsulation:
    def __init__(self):   # here we no need to write (self, xxx, yyy)
        self.public_variable = "I am a Public variable"
        self._protected_variable = "I am a Protected variable"    # _ before the vairable
        self.__private_variable = "I am Private variable" # __ before the variable.


    def display(self):
        print(self.public_variable)
        print(self._protected_variable)
        print(self.__private_variable)

In [66]:
x = encapsulation()

In [67]:
x.public_variable

'I am a Public variable'

In [68]:
x._protected_variable   #it works, but its a bad practice.

'I am a Protected variable'

In [77]:
class employee:
    def __init__(self,name,salary):
        self.name = name
        self._salary = salary   #protected

class manager(employee):
    def __init__(self,name,salary,department):
        super().__init__(name,salary)
        self.department = department

    #method inside a manager class:
    def show_manager_info(self):
        #accessing protected variables from parent class.
        print(self.name,self._salary, self.department)

In [78]:
#create an object for subclass:
mngr = manager("Rupesh",80000,"HR")

In [79]:
mngr.show_manager_info()

Rupesh 80000 HR

1. Protected variables in Python are **intended to be used with in its class and subclasses**.
but not **Accessed directlyt** from outside the class.

2. This is **only a convention**- It does not restrict the access fully

3. It **indicates to other programmers that the variable are for internal use only.**