### any table, caluclation code:
- if you want 'n' table, i range should be (n,n+1)
- j range will be same.

In [12]:
for i in range (10,11):
    for j in range (1,11):
        print(i,'x',j,'=', i*j)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100