                                            Control Flow
                                                |
                                                |
                                                V
        __________________________________________________________________________________
        |                                       |                                        |
        |                                       |                                        |
        V                                       V                                        V
conditional statements                 Transfer Statements               Iterative Statements/ Loop statements
        |                                       |                                        |
        |                                       |                                        | 
        V                                       V                                        V
   ______________                          ___________                               __________   
  |     if.      |                        |   Break   |                             |   for   |
  |   if-else.   |                        |  Continue |                             |  while. |
  |   Nested if  |                        |   pass.   |                             |_________|
  | if-elif-else |                        |___________|
  |______________|

# Loop Statements: (ITERATIVE STATEMENTS)

In [1]:
print("RUPESH TAMATURI")         #manual writing the lines, if we need to execute the name 5 times.
print("RUPESH TAMATURI")
print("RUPESH TAMATURI")
print("RUPESH TAMATURI")
print("RUPESH TAMATURI")

RUPESH TAMATURI
RUPESH TAMATURI
RUPESH TAMATURI
RUPESH TAMATURI
RUPESH TAMATURI

In [2]:
for i in range(1,6):                #using loop statements.
    print("RUPESH TAMATURI")

RUPESH TAMATURI
RUPESH TAMATURI
RUPESH TAMATURI
RUPESH TAMATURI
RUPESH TAMATURI

1. Loops are used in Python, to **repeate a Block of Code multiple times, until a specific condition is met.**
2. Instead of writing the same code again and again, we can use Loops to programms shorter, cleaner and more efficient.

## for Loop:
- A for loop is used to **Iterate over a sequence** (like List, Tuple, Set, Dictionary, or Range.)

syntax:

for (variable) in (sequence):
    code block (Will run for each item in the sequence

-------------------------------------------------------

variable : Takes the value of each item, in the sequence one by one.
sequence:  collection (of items), or a range (of values) you are looping through.

In [3]:
s = "python"
for i in s:         #takes the value of sequence one by one
    print(i)

p
y
t
h
o
n

In [4]:
for i in s:
    print(i,end=' ')     #consider end with space.

p y t h o n

### Loop through a List:

In [5]:
l = [26,42,86,89,49,72,82]

for i in l:
    print(i,end=',')

26,42,86,89,49,72,82,

In [6]:
e = ['india','bhutan','china','australia']

In [7]:
for i in e:
    print(i,end=' ')

india bhutan china australia

### Loop through a Tuple:

In [8]:
T = (1,2,3,4)

In [9]:
for i in T:
    print(i,end=' ')

1 2 3 4

### Loop through a Set:

In [10]:
s = {12, 23, 33, 45, 90}

In [11]:
for i in s:
    print(i,end=' ')

33 23 90 12 45

### Loop through a Dictionary:

In [12]:
D = {'a':23, 'b':44, 'c':66}
for i in D:
    print(i,end=' ')      #only keys get printed.

a b c

In [13]:
for i in D.keys():
    print(i,end=' ')     #print onlt keys.

a b c

In [14]:
for i in D.values():
    print(i,end=' ')    #print only values.

23 44 66

In [15]:
for i in D.items():
    print(i,end=' ')    #print total item with keys and values

('a', 23) ('b', 44) ('c', 66)

### Loop through a Range of values:

In [16]:
a = 1, 2, 3, 4, 4, 5, 6

In [17]:
for i in range(1,4):
    print(i)

1
2
3

In [18]:
for i in range(0,11):    #end index is not included (n-1)
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10

1. Write a programme to print all even numbers in a range 1 to 20.

In [19]:
for i in range(1,21):
    if i % 2 == 0:
       print(i,end=' ')  # using if and for at same time.

2 4 6 8 10 12 14 16 18 20

In [20]:
for i in range (0,21,2):    # using step-skip, 2 is the step count to skip)
    print(i,end=' ')

0 2 4 6 8 10 12 14 16 18 20

In [21]:
for i in range(0,100,10):
    print(i,end=' ')

0 10 20 30 40 50 60 70 80 90

In [22]:
for i in range(1,100,10):
    print(i,end=' ')

1 11 21 31 41 51 61 71 81 91

2. Write a Programme to print, sum of first 10 natural numbers.

In [23]:
sum_n = 0            #we telling system, to start with zero.
for i in range(1,11):
    
    sum_n = sum_n + i 
    
print(sum_n,end=' ')

55

3. Write a programme to print, Multiplication table of given number upto 10 terms.

In [24]:
n = int(input("Enter the table number:"))

for i in range(1,11):
    print(n,'*',i,'=',n*i)

Enter the table number: 3

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4. Write a programme to print, squares of numbers from 1 to 10.

In [25]:
for i in range(1,11):
    print(i, '=',i**2)

1 = 1
2 = 4
3 = 9
4 = 16
5 = 25
6 = 36
7 = 49
8 = 64
9 = 81
10 = 100

5. Write a programme to print, factorial of a given number using for loop. take number as dynamic input.

### n= int(input("Enter the number:"))
fact = 1

for i in range(1,n+1):
    fact = fact * i
print('factorial of a given number is:',fact)

6. Write a programme to print, the given number of vowels and consonants in a given string.

In [27]:
s = "Python is a good programming Language"

count_V = 0
count_C = 0

for i in s:
    if i != ' ':
        if i in 'aeiou':
            count_V = count_V + 1
        else:
            count_C = count_C + 1

print("Count of vowels :" , count_V)
print("Count of consonents :", count_C)

Count of vowels : 12
Count of consonents : 20

7. print numbers divisible by 3 but not 5 in range 1 to 50

In [28]:
for i in range(1,51):
    if i %3 ==0 and i %5 !=0:
        print(i,end=' ')

3 6 9 12 18 21 24 27 33 36 39 42 48

8. count positive, negative, zero in a given list. the given list is

In [29]:
numbers = [10,-5,0,20,-3,7,0]

In [30]:
pos = 0
neg = 0
zero = 0

for num in numbers:
    if num > 0:
       pos += 1
    elif num < 0:
        neg +=1
    else:
        zero += 1
print("count of positive number:", pos)
print("count of negative number:", neg)
print("count of zero number:", zero)

count of positive number: 3
count of negative number: 2
count of zero number: 2

## While Loop:

- A while Loop is used to repeat a block of code, as **long as the condition is True**.
- It is mainly used when **we don't know how many times we need to run the loop**.
- It is used when we want to keep repeating **until a specific condition is met.**

 syntax:

               while Condition:
                # code block
                # Update statement. (increment/decrement)

conditon: is a Boolean expression,(evaluated before each Iteration)
If condition becomes false, Loop stops.
If condition never becomes false, It creates Infinite Loop.

1. Write a programme to print, first 20 natural numbers using while.

In [31]:
i = 1
while i <= 20:
    print(i,end=' ')
    i += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

2. Print all the even numbers, in a range 1 to 20, using while.

In [32]:
i = 1
while i <= 20:
   if i % 2 == 0:
       print(i,end=' ')
   i = i + 1

2 4 6 8 10 12 14 16 18 20

3. print sum of first 10 natural numbers, using while.

In [33]:
sum_n = 0
i = 1
while i <= 10:
    sum_n += i
    i += 1
print(sum_n)

55

4. Write a programme to coun digits of given number,
S.I : 4578
S.O : 4

In [34]:
num = int(input("Enter the number:"))
count = 0
while num > 0:
    count += 1
    num = num // 10       # floor divison used to count the interger part.
print("Number of digitis:", count)

Enter the number: 33

Number of digitis: 2

5. Write a reverse of number using, while loop 

S.I = 789
S.o = 987

In [35]:
num = int(input("Enter the number:"))
rev = 0

while num > 0:
    digit = num % 10
    rev = rev *10 + digit
    num = num // 10
print("the reverse of the number is :", rev)

Enter the number: 22

the reverse of the number is : 22

6. Write a programme to check if the given number ids Palindrome. (palindrome means if a number and reverse of number is same, then it palindrome ex: 181, rev is also 181)

7. Write a programme to check if a given 3 digit number is armstrong number ( armstron means the number individual character's power with all character powers, should be same with the given input nuber)

In [36]:
num = int(input("Enter the number:"))
S= 0
Temp = num
while num > 0:
    digit = num % 10
    S = S + (digit**3)
    num = num // 10
if S == Temp:
    print("The given number is Armstrong")
else:
    print("The given number is not Armstrong")

Enter the number: 11

The given number is not Armstrong

6. Write a programme to print, Fibonacci series upto 10 terms.

In [43]:
i = 1
num1 = 0
num2 = 0

print(num1, num2, end = ' ')
while i <= 10:
    next_num = num1 + num2
    num1 = num2
    num2 = next_num
    print(next_num, end = ' ')
    i += 1

0 0 0 0 0 0 0 0 0 0 0 0